game/**

persistence_session.log
mongo/resume_token.json

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
*.log

# Android
android/.gradle/
android/build/
android/local.properties
android/captures/
android/.externalNativeBuild/
android/.cxx/
android/*.apk
android/*.jks
android/*.keystore
android/.idea/
android/**/*.iml
android/app/build/

 
# IDE
.idea/

# Node
node_modules/
